body {
  padding: 0;
  margin: 0; }
  body * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    padding: inherit;
    margin: inherit; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh 8vh 8vh minmax(71vh, auto);
  grid-template-areas: "header" "navigation" "notesTitle" "notesArea"; }

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: header; }
  header span {
    text-align: center;
    display: block;
    line-height: normal; }
  header span:nth-child(1) {
    font-size: 3.5rem; }
  header span:nth-child(2) {
    font-size: 1.8rem; }

nav {
  grid-area: navigation;
  background-color: gainsboro;
  padding: 0 1.5rem;
  border-bottom: solid 10px gray; }
  nav .buttonGroup {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    nav .buttonGroup button {
      position: relative;
      border: 0;
      padding: 0;
      background-color: inherit; }
      nav .buttonGroup button img {
        height: 2.5rem; }
      nav .buttonGroup button input {
        position: absolute;
        border: 0;
        height: 100%;
        width: 100%;
        margin: 2px;
        bottom: -5px;
        left: 0;
        height: 15px;
        z-index: 1; }

.notesTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: notesTitle; }

.notesArea {
  padding: 1rem;
  grid-area: notesArea;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }

.newNoteForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid dashed; }
  .newNoteForm h2 {
    align-self: stretch;
    border-bottom: solid 1px black; }
  .newNoteForm * {
    color: inherit;
    margin-bottom: 1rem;
    border: 0;
    width: 80vw;
    padding: 0; }
  .newNoteForm input {
    outline: solid 1px black; }
  .newNoteForm textarea {
    outline: solid 1px black;
    height: 40vh;
    resize: none; }
  .newNoteForm button {
    border: 1px solid black; }
  .newNoteForm div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }

.note {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% auto;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: unset;
  border: black 1px solid;
  height: 100px;
  width: 100%; }
  .note > div {
    margin: 0;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 3fr auto; }
    .note > div div:nth-child(1) {
      overflow: hidden; }
    .note > div button {
      border: 0;
      padding: 0;
      background-color: inherit;
      font-size: 0.8rem; }
  .note textarea,
  .note p {
    overflow: hidden; }

.noteExpanded {
  grid-area: 1 / 1 / auto / 4;
  grid-template-rows: 5% auto;
  height: 100%; }
  .noteExpanded input,
  .noteExpanded textarea {
    border: 0;
    width: 100%;
    height: 100%; }
  .noteExpanded input {
    height: 80%; }

.hide {
  display: none; }

.list {
  grid-template-columns: 1fr; }

.noteFocus {
  grid-template-columns: 1fr;
  grid-template-areas: 1fr; }

.prototype {
  display: none; }
