.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13vh 8vh 8vh minmax(71vh, auto);
  grid-template-areas:
    "header"
    "navigation"
    "notesTitle"
    "notesArea";
}

header {
  @include flex(column, flex-start, center);
  span {
    text-align: center;
    display: block;
    line-height: normal;
  }
  span:nth-child(1) {
    font-size: 3.5rem;
  }
  span:nth-child(2) {
    font-size: 1.8rem;
  }
  grid-area: header;
}
nav {
  grid-area: navigation;
  background-color: gainsboro;
  // margin: 0 auto;
  padding: 0 1.5rem;
  border-bottom: solid 10px gray;
  .buttonGroup {
    height: 100%;
    @include flex(row, space-evenly, center);
    button {
      position: relative;
      border: 0;
      padding: 0;

      background-color: inherit;
      img {
        height: 2.5rem;
      }
      input {
        position: absolute;
        border: 0;
        height: 100%;
        width: 100%;
        margin: 2px;
        bottom: -5px;
        left: 0;
        height: 15px;
        z-index: 1;
      }
    }
  }
}
.notesTitle {
  @include flex(row, center, center);
  grid-area: notesTitle;
  // background-color: sandybrown;
}
.notesArea {
  padding: 1rem;
  grid-area: notesArea;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  // @include flex(row, space-between, flex-start);
  // flex-wrap: wrap;

  // background-color: salmon;
}
.newNoteForm {
  @include flex(column, flex-start, flex-start);
  // background-color: red;
  border: 1px solid dashed;
  h2 {
    align-self: stretch;
    border-bottom: solid 1px black;
  }
  & * {
    color: inherit;
    margin-bottom: 1rem;
    border: 0;
    width: 80vw;
    padding: 0;
  }
  input {
    outline: solid 1px black;
  }
  textarea {
    outline: solid 1px black;
    height: 40vh;
    resize: none;
  }
  button {
    border: 1px solid black;
  }
  div {
    @include flex(row, space-around, flex-start);
  }
}
.note {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% auto;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: unset;
  border: black 1px solid;
  // max-width: 100px;
  height: 100px;
  width: 100%;
  & > div {
    margin: 0;
    border-bottom: 1px solid black;
    // background-color: yellow;
    // @include flex(row, space-between, flex-start);
    display: grid;
    grid-template-columns: 3fr auto;
    div:nth-child(1) {
      overflow: hidden;
    }
    button {
      border: 0;
      padding: 0;
      background-color: inherit;
      font-size: 0.8rem;
    }
  }
  textarea,
  p {
    overflow: hidden;
  }
}
.noteExpanded {
  grid-area: 1 / 1 / auto / 4;
  grid-template-rows: 5% auto;
  height: 100%;
  // min-width: 100%;

  input,
  textarea {
    border: 0;
    width: 100%;
    height: 100%;
  }
  input {
    height: 80%;
  }
}

.hide {
  display: none;
}
.list {
  grid-template-columns: 1fr;
}
.noteFocus {
  grid-template-columns: 1fr;
  grid-template-areas: 1fr;
}
.prototype {
  display: none;
}
.edit-mode {
}
